

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 12px;
  
}
.full-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: opacity(75%);
}
@media (min-aspect-ratio: 16/9) {
  #myVideo {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  #myVideo{
    width: 300%;
    left: -100%;
  }
}
/* #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: opacity(70%); 
} */
.player-container{
  height: 600px;
  width: 320px;
  background: #fff2e5;
  opacity: 70%;
  margin: 50px 50px;
  border-radius: 25px;
}
.img-container {  
  height: 300px;
  width: 300px;
  position: relative;
  top: 50px;
  left: 35px;
  
}
.img-container img{
  height: 85%;
  width: 85%;
  border-radius: 25px;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
} */

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 66%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
}

.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin-right: 30px;

}



.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {


  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}
