

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 12px;
  
}

#nav {
  display: inline-block;
  position: fixed;
  background: #313131;
  padding: 10px;
  top: 0;
  width: 100%;
  z-index: 99;
  opacity: 80%;
}
#nav ul {
  text-align: right;
  margin-right: 100px;
  list-style-type: none;
}

#nav li {
  display: inline-block;
  margin-left: 10px;
}
.full-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%,-50%);
  filter: brightness(80%);
}
.player-container{
  position: fixed;
  height: 600px;
  width: 320px;
  background: #fcf9ea;
  opacity: 90%;
  margin: 80px 50px;
  border-radius: 25px;
  box-shadow: 0 15px  30px 4px rgba(0, 0, 0, 0.4);
  border: 4px solid black;

}
.img-container {  
  height: 300px;
  width: 300px;
  position: relative;
  top: 50px;
  left: 35px;
  
  
}
.img-container img{
  height: 85%;
  width: 85%;
  border-radius: 25px;
  object-fit: cover;
  box-shadow: 0 15px  30px 4px rgba(0, 0, 0, 0.4);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
} 

/* Progress */
.progress-container {
  background: #b1adad;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  left: 80px;
  width: 200px;
}

.fas {
  font-size: 30px;
  color: rgb(26, 25, 25);
  margin-right: 30px;
  opacity: 60%;
  cursor: pointer;
  user-select: none;

}
.fas:hover{
  opacity:100%;
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {

  .full-bg {
    background: url('img/bg.png') center center / cover no-repeat;
}

#myVideo{
    display: none;
}
  .img-container {
    left: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 80px;
  }
}
